<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <script src="/static/test1.js"></script>
  </head>
  <body>
    <h1>My App</h1>
  </body>
</html>
​
​
​
<!--  <!DOCTYPE html>
 <html>
   <head>
     <title>My App</title>
     <script src="{{ url_for('static', filename='test1.js') }}"></script>
   </head>
   <body>
     <h1>My App</h1>
   </body>
 </html> -->
​
<!--  <!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
  </head>
  <body>
    <h1>My App</h1>
    <script>
      const endpoint = 'http://127.0.0.1:5000/data?CasId=656';
      fetch(endpoint)
        .then(response => response.json())
        .then(data => {
          // use the data to create your chart or display information
          console.log(data);
        })
        .catch(error => console.error(error));
    </script>
  </body>
</html>
 -->
​
