<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CHEMICALS IN COSMETICS ANALYSIS</title>
  <!-- Load Plotly library from CDN -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>CHEMICALS IN COSMETICS ANALYSIS</h1>
  <p class="subtitle">The data that we have chosen to work with has been reported to the California State Cosmetics Program (CSCP) in the California Department of Public Health (CDPH). The purpose of the CSPC is to collect information of products that contain any ingredients known or suspected to cause: cancer, birth defects, developmental or reproductive harm. There is a list of “reportable” ingredients in which the California Safe Cosmetics Act requires all the manufacturers, packers, and or distributors to submit if:</p>
  <ul>
    <li>The company has an annual aggregate sale of cosmetic products of 1 million dollars or more</li>
    <li>The company has sold cosmetic products in California on or after January 2007</li>
  </ul>
  <h2 class="subtitle">DATA SET</h2>
  <p class="subtitle">The data set includes 22 columns. To mention a few:</p>
  <ul>
    <li>Primary product categories</li>
    <li>Subcategories</li>
    <li>Company names reported</li>
    <li>Chemical names reported</li>
    <li>Product Names</li>
    <li>Dates Reported</li>
  </ul>
  <button id="fetch-button">SHOW INFO</button>
  <div id="bar-chart"></div>
  <div id="pie-chart"></div>
  <div id="scatter-plot"></div>
  <script src="/static/test.js"></script>
</body>
</html>
